@import (less, reference) "~bootstrap/dist/css/bootstrap.css";

#terms section.primary, #privacy section.primary {
  padding-top: 6rem;
  padding-bottom: 6rem;
  .app-primary();
  .text-white();
  .title {
    .mb-4();
    .text-center();
    .font-weight-bold()
  }
  .subtitle {
    .mb-0();
    .text-ice();
  }
}

#terms section.secondary, #privacy section.secondary {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
