<app-header></app-header>
<main id="privacy">
  <section class="primary">
    <div class="container">
      <h1 class="title">Política de privacidade</h1>
      <h4 class="subtitle">Este documento descreve nossa política de privacidade. Antes de usar nossos serviços, você deve ler, entender e aceitar estes termos.</h4>
    </div>
  </section>
  <section class="secondary">
    <div class="container text-justify">
      <div class="row">
        <div class="col">
          <p>Todas as informações pessoais obtidas serão usadas para ajudar a tornar a sua experiência no Forstream melhor.</p>
          <p>Ao acessar sua conta por meio de redes socias, os dados obtidos são: primeiro e último nome, foto do perfil e e-mail.</p>
          <p>A garantia da confidencialidade dos dados pessoais dos usuários é muito importante para nós. Por isso, não compartilhamos seus dados com terceiros.</p>
          <p>Esta política de privacidade pode ser alterada sem aviso prévio. Deste modo, recomendamos que consulte a nossa política de privacidade com regularidade, de forma a estar sempre atualizado.</p>
          <p>O uso do Forstream pressupõe a aceitação dessa Política de Privacidade.</p>
        </div>
      </div>
    </div>
  </section>
</main>
