<app-header></app-header>
<main id="landing-page">
  <section class="primary">
    <div class="container">
      <h1 class="title">Go live in every platform you love, simultaneously!</h1>
      <h2 class="subtitle text-center">Directly from your smartphone</h2>
    </div>
  </section>
  <section class="secondary">
    <div class="container">
      <h2 class="title">Your favorite platforms are here</h2>
      <div class="row">
        <div class="col-sm-6 col-md-3 col-xl text-center mb-4">
          <img class="mb-3" width="80" src="https://api.forstream.io/assets/channels/youtube.png">
          <h5>YouTube</h5>
        </div>
        <div class="col-sm-6 col-md-3 col-xl text-center mb-4">
          <img class="mb-3" width="80" src="https://api.forstream.io/assets/channels/facebook.png">
          <h5>Facebook Profile</h5>
        </div>
        <div class="col-sm-6 col-md-3 col-xl text-center mb-4">
          <img class="mb-3" width="80" src="https://api.forstream.io/assets/channels/facebook_page.png">
          <h5>Facebook Page</h5>
        </div>
        <div class="col-sm-6 col-md-3 col-xl text-center mb-4">
          <img class="mb-3" width="80" src="https://api.forstream.io/assets/channels/twitch.png">
          <h5>Twitch</h5>
        </div>
        <div class="col-sm-6 col-md-3 col-xl text-center mb-4">
          <img class="mb-3" width="80" src="https://api.forstream.io/assets/channels/rtmp.png">
          <h5>Custom RTMP</h5>
        </div>
      </div>
    </div>
  </section>
  <section class="primary">
    <div class="container">
      <h2 class="title">Download the App</h2>
      <div class="text-center">
        <a href="https://play.google.com/store/apps/details?id=io.forstream" target="_blank">
          <img width="200" src="/assets/img/download-google-play.png" alt="Get it on Google Play">
        </a>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
