<app-header></app-header>
<main id="terms">
  <section class="primary">
    <div class="container">
      <h1 class="title">Termos de uso</h1>
      <h4 class="subtitle">Este documento descreve nosso termo de uso. Antes de usar nossos serviços, você deve ler, entender e aceitar estes termos.</h4>
    </div>
  </section>
  <section class="secondary">
    <div class="container text-justify">
      <div class="row">
        <div class="col">
          <h4>1. Do termo</h4>
          <p>O usuário e/ou contratante deve ler com atenção o presente termo de uso, pois o acesso a este aplicativo implica na concordância expressa ao referido termo. Não serão aceitas, portanto, quaisquer reclamações que não se baseiem nas condições ora expressas.</p>
          <p>1.1 Das particularidades deste termo:</p>
          <p>Este termo de uso pode ser alterado a qualquer momento, sendo de total responsabilidade do usuário e/ou contratante conferí- lo todas as vezes em que acessar o aplicativo da empresa. Cabe lembrar que as alterações serão veiculadas neste espaço, sendo, portanto, este o meio de conferir as responsabilidades, deveres e obrigações que o usuário e/ou contratante assume ao utilizar este aplicativo.</p>


          <h4>2. Das responsabilidades, deveres e obrigações:</h4>
          <p>O presente termo visa informar as responsabilidades, deveres e obrigações que todo usuário e/ou contratante assume ao acessar este aplicativo.</p>
          <h5>2.1 É vedado aos usuário e/ou contratante deste aplicativo, dentre outras irregularidades:</h5>
          <p>2.1.1 Utilizar o aplicativo com qualquer propósito criminoso ou ilegal.</p>
          <p>2.1.2 Enviar ou transmitir material sexual ou obsceno.</p>
          <p>2.1.3 Enviar ou transmitir informações cujo conteúdo seja, direta ou indiretamente, transgressor, profano, abusivo, difamatório e/ou fraudulento.</p>
          <p>2.1.4 Utilizar os produtos e/ou serviços disponíveis neste aplicativo para fins diversos daqueles a que se destinam.</p>
          <p>2.1.5 Enviar ou transmitir quaisquer tipos de informações que induzam, incitem ou resultem em atitudes discriminatórias, mensagens violentas ou delituosas que atentem contra a moral e bons costumes e que contrariem a ordem pública.</p>
          <p>2.1.6 Utilizar os dados para contato de anunciantes com outro propósito que não seja o de encaminhar propostas comerciais.</p>
          <p>2.1.7 Assumir a personalidade de outra pessoa, seja ela física ou jurídica.</p>
          <p>2.1.8 Forjar cabeçalhos ou, de qualquer outra forma, tentar manipular identificadores, objetivando disfarçar a origem de qualquer conteúdo transmitido através do serviço.</p>
          <p>2.1.9 Enviar ou transmitir qualquer tipo de informação que seja de propriedade de terceiros, inclusive, mas não se limitando, a informações financeiras.</p>
          <p>2.1.10 Alterar, apagar ou corromper dados e informações de terceiros.</p>
          <p>2.1.11 Violar a privacidade de outros usuários e/ou contratantes.</p>
          <p>2.1.12 Enviar ou transmitir arquivos com vírus, com conteúdo destrutivo, invasivo ou que causem dano permanente ou temporário nos equipamentos do destinatário.</p>
          <p>2.1.13 Violar o direito autoral de terceiros, por meio de qualquer tipo de reprodução de material, sem a prévia autorização do proprietário.</p>
          <h5>2.2 Das responsabilidades individuais:</h5>
          <p>2.2.1 O usuário e/ou contratante deve ser extremamente cuidadoso com os dados de sua identificação individual sempre que acessar a internet, informando-os apenas em operações em que exista a proteção de dados. O usuário e/ou contratante deverá avaliar os riscos de cada negociação, levando em consideração que pode estar, eventualmente, lidando com menores, pessoas mal intencionadas, infratores e/ou pessoas valendo-se de falsas identidades.2.2.2  Por este fim, o Forstream não será responsável pelas transações entre os usuários e/ou contratantes do aplicativo, mesmo as firmadas com base na confiança depositada no sistema ou nos serviços prestados pelo aplicativo.</p>
          <p>2.2.3 O usuário e/ou contratante é o único responsável por qualquer tipo de informação ou afirmação originadas com seu nome de usuário e/ou contratante, por ventura ou necessidade (fornecedores cadastrados, por exemplo) senhas e logins e, por tal motivo, deverá manter em sigilo a sua identificação de usuário e/ou contratante (nome, senha e login).</p>
          <p>2.2.4 Baseado no descrito acima e nas regras e convenções, de âmbito geral, para o uso da internet, o Forstream recomenda que toda transação seja realizada com cautela e bom senso.</p>

          <h4>3. Das falhas no sistema:</h4>
          <p>3.1 O Forstream não se responsabiliza por qualquer dano, prejuízo ou perda no equipamento dos usuários do aplicativo causada por falhas no sistema, no servidor ou na internet. O aplicativo também não será responsável por qualquer vírus que possa atacar o equipamento do usuário em decorrência do acesso, utilização ou navegação no aplicativo ou,ainda, como conseqüência da tentativa de acesso a dados, imagens, arquivos de texto ou áudio que, por ventura, possam ser disponibilizados no mesmo.</p>
          <p>3.2 O usuário e o contratante não poderão atribuir ao aplicativo nenhuma responsabilidade nem exigir o pagamento por lucro cessante em virtude de prejuízos resultantes de dificuldades técnicas ou falhas nos sistemas ou na internet. O Forstream não garante o acesso nem o uso contínuo ou sem interrupções de seu aplicativo. Eventualmente, o sistema poderá estar indisponível por motivos técnicos ou falhas da internet, ou por qualquer outra circunstância alheia ao aplicativo.</p>

          <h4>4. Da infração do termo de uso do aplicativo e acerca das sanções cabíveis:</h4>
          <p>4.1 O usuário e/ou contratante que violar o presente termo de uso será notificado a cessar a prática irregular, sem prejuízo das combinações legais que tais irregularidades venham a dar causa.</p>
          <h5>4.2 Sem prejuízo de outras medidas, o Forstream poderá advertir, suspender ou cancelar, temporária ou definitivamente, a conta de um usuário e/ou contratante a qualquer tempo, e iniciar as ações legais cabíveis se:</h5>
          <p>4.2.1 O usuário e/ou contratante não cumprir qualquer dispositivo destes termos e condições gerais e demais políticas do Forstream.</p>
          <p>4.2.2 Se descumprir com seus deveres de usuário e/ou contratante.</p>
          <p>4.2.3 Se praticar atos fraudulentos ou dolosos.</p>
          <p>4.2.4 Se não puder ser verificada a identidade do usuário/contratante ou qualquer informação fornecida por ele.</p>
          <p>4.2.5 Se o Forstream entender que os anúncios ou qualquer atitude do usuário e/ou contratante tenha ou esteja causando algum dano a terceiros ou ao próprio aplicativo ou tenha a potencialidade de assim o fazer. Nos casos de inabilitação do cadastro do usuário e/ou contratante, todos os produtos ativos ou a participação dos mesmos em licitações e/ou ofertas realizadas serão automaticamente cancelados.</p>

          <h4>5. Da aceitação do presente termo de uso:</h4>
          <p>5.1 A utilização do aplicativo caracteriza que o usuário e/ou contratante leu, entendeu e concordou, tácita e irrevogavelmente, com as condições previstas neste termo de uso. Caso o usuário e/ou contratante não concorde com as condições previstas no referido termo, ele não deverá usar este aplicativo.</p>
          <p>5.2 Nesse sentido, não serão aceitas reclamações que estejam, direta ou indiretamente, vinculadas às disposições explicitadas no presente termo.</p>

          <h4>6. Da legislação aplicável e do foro de eleição:</h4>
          <p>Todos os itens deste termo de uso estão regidos pelas leis vigentes na República Federativa do Brasil. Para todos os assuntos referentes à interpretação e ao cumprimento deste contrato, as partes se submetem ao Foro da cidade do Salvador, Bahia, Brasil.</p>
        </div>
      </div>
    </div>
  </section>
</main>
